@import "antd/dist/antd.css";
#NavbarTop {
  background-color: white;
  box-shadow: 0px 0px 8px 0px #888888;
}
.logo {
  font-size: x-large;
  font-weight: bold;
}
#dot {
  font-weight: bold;
  color: orange;
}
.btn {
  background-color: #023047;
  color: white;
  font-size: small;
  width: 130px;
}
#btn-logIn {
  background-color: #fb8501;
  color: white;
  width: 130px;
}
#Column {
  margin-top: 50px;
}
.container {
  width: 300px;
  text-align: center;
  margin: auto;
}
a {
  color: #023047;
}
.login-form-forgot {
  float: right;
}
.checkbox {
  float: left;
}
